<!DOCTYPE html>
<html>
<head>
	<title>Spoken Tutorial</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='video.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" />
	<script src="{{ url_for('static', filename='jquery-3.2.0.min.js') }}"></script>
	<script type="text/javascript">
		function init()
		{
			current_time_sec = 20;
			current_time = 0;
			vid = document.getElementById("video");
			vid.ontimeupdate = getLinks;
			f = vid.src.split('/');
			file_name = f[f.length - 1].split('.')[0] + '.txt';
			links = null;
		}

		function getLinks() 
		{
	 		if(vid.currentTime > current_time)
	 		{
	 			links = new Array();
	 			titles = new Array();
	 			$('#links').empty();
	 			//fetch results for the 20s interval from the database
	 			$.getJSON('http://localhost:5000/fetch?time=' + current_time + '&file=' + file_name, function(data) {
					if(data)
					{
						$.each(data.Links.split(' '), function(index, element) {
							if(element != '')
							{
								url_ = 'http://stackoverflow.com/questions/' + element
								if(links.indexOf(url_) == -1)
									links.push(url_);
							}
						});
	 				}

	 				$('#links').append($('<table>', {
	 				    class: 'table table-hover table-bordered'
					}));
					$('table').append('<tbody>');
					for(let i = 0; i < links.length; i++)
	 				{
	 				    $.getJSON("http://localhost:5000/gettitle?url=" + links[i], function(data) {
							titles.push(data.title);
							hr = document.createElement('a');
							hr.href = links[i];
							hr.innerHTML = data.title;
							$('tbody').append($('<tr>', {
							    id: 'row' + i,
								class: 'bg-success'
							}));
							$('#row' + i).append($('<td>', {
							    html: hr
							}));
							$('#links-table').append('</tr>');
							/*
							$('#links').append($('<div>', {
								html: hr,
								class: 'bg-success'
							}));
							*/
						});
	 				}
	 			});
	 			current_time += 20;
	 		}
	 	}
	</script>
</head>
<body onload="init()">
	<div class="container">
		<div class="row">
			<!--Container for video-->
			<div class="col-md-8">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3>Video</h3>
					</div>
					<div id="videoContainer" class="panel panel-body">
						<video id="video" src="{{ url_for('static', filename='Functions.ogg') }}" type="video/ogg" controls />
					</div>
				</div>
			</div>
			<!--Container for forum links-->
			<div class="col-md-4">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3>Links</h3>
					</div>
					<div id="links" class="panel panel-body" />
				</div>
			</div>
		</div>
	</div>
</body>
</html>