<!doctype html>
<html>
   <head>
      <title>Spoken Tutorial</title>
   </head>
   <body>
      <table border = 1>         
         {% for row in rows %}
            <tr>
               <td>{{row["FILE_NAME"]}}</td>
               <td>{{row["TIME"]}}</td>
               <td>{{row["SNIPPET_TEXT"]}}</td>
               <td>{{row["FORUM_TEXT"]}}</td>
               <td>{{row["LINK"]}}</td>
               <td>{{row["RELEVANCE"]}}</td>
               <td>{{row["SIMILARITY"]}}</td>	
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
      
   </body>
</html>