#video
{
	max-width: 85%;
	max-height: 80%;
}

#videoContainer
{
	text-align: center;
}

#links {
	height: inherit;
	position: relative;
}

#links > div {
	padding: 1em;
	font-size: 1em;
	align-self: center;
}

#links > div > a {
	text-decoration: none;
}